.todoForm {
  max-width: 500px;
  margin:0 auto
}

.item {
  display: flex;
  text-align: left;
  padding: 0.5em 0;
  border-bottom: 1px solid grey
}

.completed {
  text-decoration: line-through;
}

.active-panel{
  margin-top: 0.5em;
  text-align: left;
}