<h1 style="text-align: center;">My Todo List</h1>

<form class="todoForm" (submit)="$event.preventDefault()">
  <mat-form-field class="w-100">
    <mat-label>Todo....</mat-label>
    <div class="d-flex">
      <input matInput placeholder="write something..." (keyup.enter)="add(inputRef.value, inputRef)" #inputRef>
      <button mat-icon-button type="button" style="margin-left:1em" (click)="add(inputRef.value, inputRef)"><mat-icon>add</mat-icon></button>
    </div>
  </mat-form-field>

  <div class="w-100">
    <ul>
      @for (item of visibleTodos(); track item; let i = $index) {
        <li class="item">
          @if (editingId === item.id) {
            <input type="text" style="width: 80%;" matInput [value]="item.name" (keyup)="changeText($event)" (keyup.enter)="editTodo(item.id)" #InputRef/>
          } @else {
            <mat-checkbox [checked]="item.completed" (change)="update($event.checked, i)">
              <span [ngClass]="{'completed': item.completed}" matListItemLine >{{item.name}}</span>            
            </mat-checkbox>
          }
          <button mat-icon-button type="button" style="margin-left: auto" (click)="setEditingId(item.id)"><mat-icon>edit</mat-icon></button>
          <button mat-icon-button type="button" (click)="deleteTodo(item.id)"><mat-icon>delete</mat-icon></button>
        </li>
      }
    </ul>
    <div class="active-panel">
      <span style="margin-right: auto"> {{todosService.completedLeft()}} items left</span>
      <button mat-button type="button" (click)="changeFilterStatus(TaskFilterStatus.All)" [ngClass]="{'active': todosService.statusSignal() === TaskFilterStatus.All }">All</button>
      <button mat-button type="button" (click)="changeFilterStatus(TaskFilterStatus.Active)" [ngClass]="{'active': todosService.statusSignal() === TaskFilterStatus.Active }">Active</button>
      <button mat-button type="button" (click)="changeFilterStatus(TaskFilterStatus.Completed)" [ngClass]="{'active': todosService.statusSignal() === TaskFilterStatus.Completed }">Completed</button>
    </div>
  </div>
</form>
