.toolbar {
  display: flex;
  --mat-toolbar-container-background-color: var(--sys-secondary-container)

}

.sideNav {
  width: fit-content;
  padding: 0 0.5em;
  border-radius: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}


.list-item{
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 0.5em;
}

.expanded {
  width: 200px;
}

@media screen and (max-width: 600px) {
  .drawer {
    min-width:auto;
  }
}