.toolbar {
  display: flex;
  background-color: #d7e3ff;
}

.drawer {
  width: 200px;
  padding: 0 0.5em;
  background-color: #ededf1;
}

.logout {
  margin-left: auto;
}

.active {
  background-color: #e85b5b;
}